.mainDev{

    border-radius: 3%;
    background-color: beige;
    margin-top: 0%;
    
    border-color: beige;
    padding: 30px;
    justify-content: center;
}
h1{
    font-size: small;
justify-self: center;}

.oneUser{
margin-left: 4%;

}
span{
border-color: brown;
border-radius: 1px;
width: 30px;
height: auto;

}
button{
    margin-left: 90%;
    margin-right: 10%;
    border-radius: 2px;
   
}